<?xml version="1.0"?>
<!--
/**
 * AltaPay Recurring Payments Module for Magento 2.x.
 *
 * Copyright © 2021 AltaPay. All rights reserved.
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="sdm_altapay_config" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <group id="terminal5" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Terminal #5 For recurring and subscription</label>
                    <field id="agreementtype" translate="label comment" type="select" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Agreement Type:</label>
                        <config_path>payment/terminal5/agreementtype</config_path>
                        <source_model>Altapay\RecurringPayments\Model\Config\Source\AgreementType</source_model>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>